echo .DS_Store >> .gitignore
.DS_Store
General/.DS_Store
General/.DS_Store
Arduino/.DS_Store
Arduino/.DS_Store
.DS_Store
Arduino/.DS_Store
Arduino/Lab2
General/.DS_Store
.DS_Store
Arduino/.DS_Store
.DS_Store
Arduino/.DS_Store
